

body{
    font-family: "Poppins", sans-serif;
	margin: 0 auto;
	max-width: 1120px;
	background: linear-gradient(150deg, #000000, #9e00ff);
	background-size: 120% 120%;
}

/* cabeçalho */

.cabecalho{
    /* background-color: rgb(255, 238, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
	padding: 30px 15px;
}

.cabecalho .logo{
    width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 2px solid #fff;
	text-decoration: underline;
	text-align: center;
	line-height: 55px;
	font-family: "Raleway", sans-serif;
	transition: 0.2s;
}

.cabecalho .menu a {
	font-size: 20px;
	text-transform: capitalize;
	padding: 10px 20px;
	transition: 0.2s;
    
}

.cabecalho .menu li a:hover {
	background-color: #9443d8;
	color: #fff;
	border-radius: 50px;
}

/* home */

.home {
	display: flex;
	min-height: calc(100vh - 125px);
	align-items: center;
	gap: 50px;
	justify-content: space-between;
}

.home .informacoes {
	display: flex;
	flex-direction: column;
	gap: 15px;
	letter-spacing: 2px;
	padding: 0 15px;
	max-width: 50%;
}

.home {
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 30px;
}

.home .informacoes{
    max-width: 100%;
    text-align: center;
    align-items: center;
}
.home .informacoes h1 {
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	margin-bottom: 20px;
}

.home .informacoes p {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
}


.home .container-foto .foto {
	max-width: 450px;
	border-radius: 90%;
	position: relative;
	right: 30em;
	bottom: 20em;
}

.home .container-foto img {
	width: 100%;
    padding: 3em;
	border-radius: 90%;
    
}



